<nav class="navbar navbar-expand-md navbar-toggleable-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid flex-wrap">
        <a class="navbar-brand" href="">Network Monitor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex">
            <ul class="navbar-nav w-100 flex-wrap">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="index">Home</NavLink>
                        </li>

                        <AuthorizeView Context="a" Policy="@nameof(Permission.DefineNodes)">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="definitions">Nodes Definition</NavLink>
                            </li>
                        </AuthorizeView>
                        <AuthorizeView Context="a" Policy="@nameof(Permission.Settings)">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="settings">Settings</NavLink>
                            </li>
                        </AuthorizeView>
                        <AuthorizeView Context="a" Policy="@nameof(Permission.ManageUsers)">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="user/manage">Manage Users</NavLink>
                            </li>
                        </AuthorizeView>
                        <li class="nav-item ml-auto">
                            <NavLink class="nav-link" href="user/settings"><UserDisplayName /></NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="login/out">Logout</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item ml-auto">
                            <NavLink class="nav-link" href="login">Login</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>